.vessel {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: transparent;
  border-radius: 8px;
  contain: content;
  width: fit-content;
}

.gl-canvas-vessle {
  display: inline-block;
	background-color: #ffffff;
  position: relative;
}

.operation {
  height: 100%;
  background-color: #cacaca;
}

.controller {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px 10px;
  background: transparent;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.vessel:hover {
  .controller {
    opacity: 1;
    transition: opacity 0.7s ease-in;
  }
}
