body {
  display: block;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.basic-frame {
  height: 100vh;
  box-sizing: border-box;
}

.basic-frame .default-header {
  height: 60px;
  padding: 0 150px;
}

.basic-frame .default-body {
  height: calc(100vh - 80px);
  background-color: #4d525a;
}

.basic-frame .default-aside {
  margin: 30px 20px 10px 150px;
  background-color: #545C64;
}

.basic-frame .default-main-no-aside {
  margin: 30px 150px 10px 150px;
  padding: 0;
  background-color: #545c64;
  overflow: visible;
}

.basic-frame .default-main {
  margin: 30px 150px 10px 20px;
  padding: 0;
  background-color: #545c64;
}
